@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body{
    background-color: rgb(97, 189, 4);
}

h1{
    text-align: center;
    font-family: 'Cinzel', serif;
}

div{
    text-align: center;
}

/*button{
    font-family: 'Cinzel', serif;
    width: 100px;
    height: 50px;
    
}*/


.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

